.home {
    display: flex;
    position: relative;
    width: 100%;
    height: 107vh;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    
   &-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    background-size: cover ;
    

   }
   
   &-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    &-top {
    width: 100%;
    height: 99%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5vh;


        &-left {
            padding: 2em;
            width: 60%;
            & > h1 {
                font-size: $xxlargefont;
            }

            & > h2 {
                padding-top: 5px;
            }

            &-buttons {
                padding-top: 40px;

                & > button {
                    margin-top: 7px;
                }
            }
        }

        &-right {

            width: 40%;
            
            height: 100%;
            padding: 2em;
        }
    }

    &-bottom {
        width: 100%;
        height: 1%;
        background: linear-gradient(transparent , black)
    }


   }


}

@include mobile {
    .home {

        &-background {
            object-position: left center;
        }

        &-box {

           &-top {

            &-left {

                width: 79%;
                & > h1 {
                    font-size: $largefont;
                }
            }
           }
        }
    }
}