.logos {
    width: 50%;
    margin-top: 1em;
    margin-left: 3.2em;
    margin-right:2em ;
    overflow: hidden;
    position: relative;
    z-index: 1;

    &::before , &::after {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100px ;
        content: "";
        z-index: 2;
        color: gray;
    }

    &-slide {
      animation: 10s slider infinite linear ;
      white-space: nowrap;

        & > img {
        height: 50px;
        padding-right: 15px;
        }
    }
}

@keyframes slider {
    from{
         transform: translateX(0);
    }
    to{
        transform: translateX(-150%);
    }
}

@include mobile {

    .logos {
        width: 90%;
        margin-left: 0%;
        margin-right: 0%;
    }
}
