

.projects {
    padding: 4rem;

    & > h1 {
        font-size: $xxlargefont;
    }
    & > p {

        font-size: $mssfont;
        font-weight: 200;
        padding-bottom: 5px;
    }

    &-grids {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(490px, 2fr));
        grid-gap: 3rem;
        padding-top: 4rem;

        &-box {
            border-radius: 3px;
            background: rgb(251, 90, 4);
            height: 410px;
            display: flex;
            flex-direction: row;
            animation: appear linear;
            animation-timeline: view();
            animation-range: entry 0%;

            &-left {
                width: 60%;
                height: 100%;
                background: white;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                & > img {
                    height: 58%;
                    max-width: 100%;  // Genişliğin taşmasını engelle
                    max-height: 70%; // Yüksekliğin taşmasını engelle
                }
            }

            &-right {
                width: 40%;
                display: flex;
                flex-direction: column;
                padding: 2em;
                align-items: flex-end;
                justify-content: space-between;
            }
        }
    }

    @include mobile {
        padding: 2rem;

        &-grids {
            grid-template-columns: 1fr; // Mobilde grid yapısını 1 sütun yap

            &-box {
                flex-direction: column; // Mobilde kutuların içindeki düzeni dikey yap
                height: 430px;

                &-left {
                    width: 100%;
                    
                    & > img {
                        height: auto;
                        max-width: 70%; // Resmin genişliğinin mobil ekrana uymasını sağla
                    }
                }

                &-right {
                    width: 100%;
                    padding: 1em;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

@keyframes appear {
    from {
        opacity: 0.5;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
