.projects {
    padding: 4rem;

    & > h1 {
        font-size: $xxlargefont;
    }
    & > p {
        font-size: $mssfont;
        font-weight: 200;
    }

    &-grids {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(490px, 2fr));
        grid-gap: 3rem;
        padding-top: 4rem;

        &-box {
            border-radius: 3px;
            background: rgb(251, 90, 4);
            height: 410px;
            display: flex;
            flex-direction: row;
            animation: appear 1s linear;  // Animasyon süresi eklendi
            // Diğer özellikler...

            &-left {
                width: 60%;
                height: 100%;
                background: white;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                & > img {
                    height: 58%;
                    max-width: 100%;
                    max-height: 70%;
                }
            }

            &-right {
                width: 40%;
                display: flex;
                flex-direction: column;
                padding: 2em;
                align-items: flex-end;
                justify-content: space-between;
            }
        }
    }

    @keyframes appear {
        from {
            opacity: 0.5;
            transform: scale(0.8);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    @-webkit-keyframes appear {  // Safari ve Chrome için uyumlu animasyon
        from {
            opacity: 0.5;
            transform: scale(0.8);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    @include mobile {
        padding: 2rem;

        &-grids {
            grid-template-columns: 1fr;

            &-box {
                flex-direction: column;
                height: 440px;
                animation: appear 1s linear;  // Burada da animasyon süresi ve isim doğru

                &-left {
                    width: 100%;
                    & > img {
                        height: auto;
                        max-width: 70%;
                    }
                }

                &-right {
                    width: 100%;
                    padding: 1em;
                    align-items: center;
                    justify-content: center;

                    & > p {
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
}
