@import '../variables/index.scss';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Neue  Montreal", sans-serif;
    
    
    font-weight: 700;
}
 body {
    background: black;
    color: white;
    
    
}

html {
    scroll-behavior: smooth;
}

.small-text {
    font-size: $msfont;
    padding: 2em;
    padding-bottom: 1em;

    & > a {
        text-decoration:underline;
        color: white;
    }
}

a{
    transition: 0.3s ease-in-out;
}

a:hover{ 
    color: coral;

}
